@{
    ViewBag.Title = "Eurpean Union";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<img src="~/Images/eu_map.png" alt="EU Map" style="float:right; margin: 50px 65px" />
